@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1 class="display-4">Witaj, Planszówkowiczu!</h1>
        <p class="lead">Ten serwis powstał dla pasjonatów gier planszowych, moim zadaniem jest ułatwić organizowanie spotkań oraz dołączanie do już istniejących</p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Baza gier planszowych</h2>
        <p>
            Tutaj znajdziesz listę gier posiadanych przez graczy oraz tych, które przewineły się przez spotkania
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Przejdź do gier</a></p>
    </div>
    <div class="col-md-4">
        <h2>Aktualne wydarzenia</h2>
        <p>Przejrzyj listę wydarzeń a następnie śmiało przystąp do jednego z nich</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Przejdź do wydarzeń</a></p>
    </div>
    <div class="col-md-4">
        <h2>Aktywna społeczność</h2>
        <p>Przeglądaj profile innych graczy aby dowiedzieć się w co lubią grać oraz zaprosić ich do wspólnej gry</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Przejdź do graczy</a></p>
    </div>
</div>